<!--
    1) grid-container                   //flex   grid

    2) row

    3) brand

    4) center
-->
<div class="grid-container">
    <header class="row">
        <div >
            <a [routerLink]="['/']" class="brand">AshokIT</a>
        </div>

        <div>
            <a [routerLink]="['/cart']"><i class="fas fa-shopping-cart"></i><span class="badge">{{arr}}</span></a>
            <a href="#"><i class="fas fa-sign-in-alt"></i></a>
        </div>
    </header>
    <main>
         <router-outlet></router-outlet> 
    </main>
    <footer class="row center">
        copyright@ashokit.in
    </footer>
</div>