<ng-http-loader></ng-http-loader>
<div class="row center">
    <div *ngFor="let product of products">
       <div class="card">
           <a [routerLink]="['/detail',product._id]">
               <img src={{product.image}}>
           </a>

           <div class="card-body">
               <h1>{{product.name}}</h1>
               
               <rating_bar [product_rating]="product.rating" 
                           [numReviews]="product.numReviews"></rating_bar>
               
                <div class="price">
                    Price $ {{product.price}}
                </div>
           </div>
       </div> 
    </div>
</div>
<!-- <h1>{{loading}}.....{{products | json}}....{{error}}</h1> -->