html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    margin: 0;
    /* height: 100vh; */
    font-family: sans-serif;
}


.grid-container{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
}

header{
    grid-area: "header";
    background-color: #203040;
}

main{
    grid-area: "main";
    padding: 1rem;
}

footer{
    grid-area: "footer";
    background-color: #203040;
    color: #ffffff;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
}

a.brand{
    font-size: 3rem;
    font-weight: 900;
}


a:hover{
    color: #ffa500;
}

.center{
    justify-content: center;
}

.card{
    border: 0.1rem solid #c0c0c0;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;      
}

.rating span{
    color: #ecb00a;
    margin: 0.1rem;
}

.rating span:last-child{
    color: #000000;
}

.price{
    font-size: 2rem;
}

.card-body{
    text-align: center;
}

h2{
    font-size: 1.6rem;
}






