<!--
    "rating" coming from Rest API Call

    "numReviews" also coming from Rest API Call.
-->

<!-- <div class="rating">
    <span [class]="rating_value==0?'fa fa-star':(rating_value>0&&rating_value<1)?'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span [class]="rating_value==1?'fa fa-star':(rating_value>0&&rating_value<2)?'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span [class]="rating_value==2?'fa fa-star':(rating_value>0&&rating_value<3)?'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span [class]="rating_value==3?'fa fa-star':(rating_value>0&&rating_value<4)?'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span [class]="rating_value==4?'fa fa-star':(rating_value>0&&rating_value<5)?'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span>{{numReviews}} Reviews</span>
</div> -->
 

<div class="rating">
    <span [class]="(product_rating == 0) ? 'fa fa-star' : 
				   (product_rating > 0 && product_rating < 1) ? 
				   'fa fa-star-half-o' : 
				   'fa fa-star-o'"></span>
    <span [class]="(product_rating > 1 && product_rating < 2) ? 'fa fa-star-half-o' : (product_rating >= 2) ? 'fas fa-star' : 'far fa-star'"></span>
    <span [class]="(product_rating > 2 && product_rating < 3) ? 'fa fa-star-half-o' : (product_rating >= 3) ? 'fas fa-star' : 'far fa-star'"></span>
    <span [class]="(product_rating > 3 && product_rating < 4) ? 'fa fa-star-half-o' : (product_rating >= 4) ? 'fas fa-star' : 'far fa-star'"></span>
    <span [class]="(product_rating > 4 && product_rating < 5) ? 'fa fa-star-half-o' : (product_rating >= 5) ? 'fas fa-star' : 'far fa-star'"></span>
    <span>{{numReviews}} Reviews</span>
</div>



